{% extends "base.html" %}

{% block content %}
  <h1>Listado de Municipios</h1>
  <ul>
    {% for municipio in municipios %}
      <li>{{ municipio.nombre }} ({{ municipio.codigo }}) - <a href="{% url 'municipios_update' municipio.pk %}">Editar</a> | <a href="{% url 'municipios_delete' municipio.pk %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'municipios_create' %}">Agregar Municipio</a>
{% endblock %}

